input {
  color: blue;
}
@keyframes animar {
  from {
    background-color: yellow;
    width: 50px;
  }
  to{
    background-color: blue;
    width: 400px;
  }
}
div input {
  color: green;
}
input[type="submit"]{
  animation-name: animar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
